/* styles.css */

body {
     font-family: Arial, sans-serif;
   }
   
   table {
     border-collapse: collapse;
     margin: 20px 0;
   }
   
   table, th, td {
     border: 2px solid black;
     padding: 8px;
     text-align: center;
     background-color: pink;
   }
   
   button {
     padding: 10px 20px;
     font-size: 16px;
     cursor: pointer;
     background-color: pink;
     border: 5px solid black;
     border-radius: 20px;
   }
   
   #rivienLukumaara {
     font-size: 16px;
   }
   